{% extends "profileBaseSession.html" %}

{% block additionalCSS %}
<link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet">
{% endblock %}

{% block ng-app %}ng-app="myApp"{% endblock %}

{% block ng-mainController %}ng-controller="appController"{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
  This page will show blog headlines, map, and photos.
	<!--
    <div ng-controller="advSelectionController" >
		<ul class="list-group">
			<li class="list-group-item adventure" ng-repeat="adventure in adventures" ng-click="goToAdv(adventure.id);">
				{% verbatim %} {{ adventure.name }}{% endverbatim %}
			</li>
		</ul>
    </div>
    
  </div>
  
  <div class="col-lg-8">
  	<div style="width:800px;height:400px;" id='map'></div>	
  </div>
  
  -->
</div>

{% endblock %}

{% block additionalJS %}
<script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>

<script src="/static/js/advViewer.js"></script>
<script src="/static/js/sessionCommon.js"></script>
{% endblock %}
