<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Editor</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/landing/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/landing/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/landing/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="mainController" style="padding-top:51px"> <!-- is there a better solution?-->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		<li><a href="#/">Adventure Editor</a></li>
		<li><p class="navbar-text" id="advName">[adv name]</p></li>
	      </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="/users/{{ user }}/adventures">View Profile</a>
                </li>
                <li>
                  <a href="/auth/logout">Logout</a>
                </li>
              </ul>
	      
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
	<div class="collapse navbar-collapse main-nav">
	  
	  <ul class="nav navbar-nav">
    
	    <li><a href="#/maps">Maps Editor</a></li>
	    <li><a href="#/blogs">Blog Editor</a></li>
	    <li><a href="#/gear">Gear Editor</a></li>
	    
	  </ul>
	</div>
      </div>
    </div>
    
    <div style="clear:both"></div>	
    <div class="container">
      <div ng-view></div>      
    </div>

    <!-- jQuery -->
    <script src="/static/landing/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/landing/js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
    
    <script src="/static/js/editor.js"></script>
    
    <input type="hidden" id='userId' value={{ user.pk }} />
    <input type="hidden" id='userName' value={{ user.get_username }} />

</body>

</html>
