<div class="row">
  <div class="col-lg-4">
    <h3>Adventures:</h3>
    <ul class="list-group">
      <li class="list-group-item clearfix adventure" ng-repeat="adventure in adventures" ng-click="advClick($index)">
	{{ adventure.name }}
	<span class="pull-right">	
	  <button class="btn" ng-click="deleteAdv($index)"><span class="glyphicon glyphicon-remove"></span></button>
	</span>
      </li>
    </ul>   		
    <br>
    <h4>New Adventure: </h4>
    <input class="form-control" placeholder="New adventure name" id="newAdvName" type="text">
    <br>		     
    <select class="form-control" id="advType">
      <option value="1">Bicycle Touring</option>
      <option value="2">Backpacking</option>
      <option value="3">Motorcycling</option>
      <option value="4">Other</option>
    </select>		     
    <br>
    <select class="form-control" id="statusSelect">
      <option value="1">In Progress</option>
      <option value="2">Completed</option>
      <option value="3">Planning</option>
    </select>
    <br>
    <button class="btn btn-primary" id="addAdventureButton" ng-click="createAdv()">Create Adventure</button>
    
  </div>
  
  <div class="col-lg-1">
    
  </div>
  
  <div class="col-lg-4">
    <h3>User Info:</h3>
    <div id="profilePictureDiv">
      <img id="profileImg" ng-src="{{ profilePic }}" style="width:360px"/>
    </div>
    
    <input type="file" id="fileSelect" name="FileSelect" style="display:none"/>
    <button id="profilePictureButton" type="button" class="btn btn-primary">Upload Profile Picture</button>
    <div id="progress"></div>
    <br>
    
    <label for="biographyField">Biography:</label>
    <br>
    <textarea class="field" id="biographyField" rows="6" style="min-width:100%" readonly></textarea>
    <button class="btn btn-primary" id="editBioButton">Edit biography</button>
    <br>
</div>
  
</div>
       
