
<div class="row">
  <div class="col-lg-4">
    <h4>Maps:</h4>
    <ul class="list-group">
      <li class="list-group-item clearfix" ng-repeat="map in maps" ng-class="{active:isMapActive($index)}" ng-click="selectMap($index)">
	{{ map.name }}
	<span class="pull-right">
	  <button class="btn" ng-click="deleteMap($index); $event.stopPropagation();"><span class="glyphicon glyphicon-remove"></span></button>
	</span>
      </li>
    </ul>
    <h4>New Map:</h4>
    <input class="form-control" placeholder="New Map Name" ng-model="newMapName" type="text">
    <br>
    <button class="btn btn-primary" id="addMapButton" ng-click="createMap()" ng-show="newMapName.length">Create Map</button>

    <br>
    <hr>
    <h4>New Segment:</h4>
    <!--- datetime pickers -->
    <div class="dropdown form-group">
      <label>Start Date</label>
      <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown">
	<div class="input-group date">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" ng-class="{purple:startSet}"></i></span>
	  <input type="text" class="form-control" data-ng-model="dateRangeStart">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	</div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<datetimepicker data-ng-model="dateRangeStart"
			data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
			data-on-set-time="startDateOnSetTime()"
			data-before-render="startDateBeforeRender($dates)"></datetimepicker>
      </ul>
    </div>
    
    <div class="dropdown form-group">
      <label>End Date</label>
      <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown">
	<div class="input-group date">
	  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-map-marker"  ng-class="{red:endSet}"></i></span>
	  <input type="text" class="form-control" data-ng-model="dateRangeEnd">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	</div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<datetimepicker data-ng-model="dateRangeEnd"
			data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
			data-on-set-time="endDateOnSetTime()"
			data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
      </ul>
    </div>

    <button class="btn btn-primary" id="addSegmentButton" ng-click="createSegment()" ng-show="endSet">Save Segment</button>
    <!-- end datetime pickers -->
    
  </div>
  
  <div class="col-lg-8">
    <leaflet style="width:850px;height:800px;" tiles="tiles" lf-center="center"></leaflet>	
  </div>

  
  

</div>
<script src="/static/js/editor_map.js"></script>    
