
<div class="row">
  <div class="col-lg-3">

    <div id="noAdvs" ng-show="adventures.length==0" ng-cloak>
      <center>
	<h4>User hasn't created any adventures yet.</h4>
      </center>
    </div>

    <h4>Advnetures:</h4>
    <ul class="list-group">
      <li class="list-group-item adventure" ng-repeat="adventure in adventures" ng-mouseover="mouseOnAdv($index)" ng-mouseleave="mouseleaveAdv()" ng-class="isAdvSelected($index)" ng-click="advSelectClick($index)">
	{{ adventure.name }}
	<span class="pull-right" ng-cloak>
	  {{ getAdvDistance($index) }} Km
	</span>
      </li>
    </ul>
    
  </div>
  

  <div class="col-lg-9">
    <leaflet style="width:100%;height:800px;" layers="layers" lf-center="center" ng-show="adventures.length>0">
    </leaflet>
  </div>
  
</div>

